
html, body { margin: 0; padding: 0; height: 100%; font-family: 'Open Sans', sans-serif }

#wrapper { height: 100%; width: 700px; text-align: center; margin: auto; overflow: hidden }
#wrapper { box-sizing: border-box; border: 1px solid #FFF }
#wrapper {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAAGklEQVQY02P8//8/Az7ASAcFQPyfMgWDwBcALjgZ8aXLhFUAAAAASUVORK5CYII=), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAMAAADm3a4bAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAxSURBVDjLY2AkCBigAMFiQAgNBs0IJdi0kKUZj5torBmPs4kwf1Qz1TSPxBQ2NAsDACkqAo1mX/UCAAAAAElFTkSuQmCC), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAMAAADm3a4bAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAxSURBVDjLY2RAA4wM/+EsQoBxcGpGZcFIJLX4zKetZoqcTV6A/R/VTHXNoylsMBUGAHRuLiMP8aP0AAAAAElFTkSuQmCC);
    background-position: center, center right, center left;
    background-repeat: repeat, repeat-y, repeat-y;
}

.vlines {}
.hlines { background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAAGklEQVQY02P8//8/Az7ASAcFQPyfMgWDwBcALjgZ8aXLhFUAAAAASUVORK5CYII=) center repeat }

.middle-col { position: relative; height: 100%; width: 320px; margin: auto; background-color: #FFF }
.focus-marker { position: absolute; width: 100%; top: 50%; margin-top: -10px; height: 20px; background-repeat: repeat-x }
.focus-cross-10 { width: 10px; height: 10px; margin: 5px auto; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKUlEQVQYlWNgYGD4TyQmUuH//6gYJoEhTopCMEBSgJ1PikIqu5Hq4QgAbufHOYrQjjsAAAAASUVORK5CYII=) center no-repeat }
.focus-cross-20 { width: 20px; height: 20px; margin: 0 auto; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQklEQVQ4y2P4//8/AzUxhABS1MA0NZAqgK4GEuvNgTMQlwVUC0PKDPwPBUjJARd/gAwc/GE4JNPhwOflQV4eUhMDAEzxknyb777JAAAAAElFTkSuQmCC) center no-repeat }
.focus-cross-30 { width: 30px; height: 30px; margin: -5px auto; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAQklEQVRIx2NgYGD4TydMP4uGP6BbUI3GCd3jbOhYhMtiugUllU2FApgFePhDxKLhF0cjIh8N37JttD4aenEyONp1ACogFvi5lDtNAAAAAElFTkSuQmCC) center no-repeat }
.focus-cross-40 { width: 42px; height: 42px; margin: -11px auto; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqAgMAAAC4rSHIAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAENJREFUGNNjCIWDAAZkNk6ArIQI5TBFARhsvBoCsLADoBiDDVSClQ2GWNhLly7AysalHqf52N2Dy/3UCR8Swx9H/AIAAvM77cndEz4AAAAASUVORK5CYII=) center no-repeat }

.scale { position: absolute; width: 100%; height: 20px; top: 50%; left: 0; font-size: 11px; color: #999 }
.scale:before, .scale:after { height: 12px; line-height: 12px; position: absolute; width: 12px; top: 4px; background-color: #666; color: #FFF }
.scale:before { left: -12px }
.scale:after { right: -12px }

.scale.mk1 { margin-top: -60px }
.scale.mk1:before, .scale.mk1:after { content: '1' }
.scale.mk2 { margin-top: -110px }
.scale.mk2:before, .scale.mk2:after { content: '2' }
.scale.mk3 { margin-top: -160px }
.scale.mk3:before, .scale.mk3:after { content: '3' }
.scale.mk4 { margin-top: -210px }
.scale.mk4:before, .scale.mk4:after { content: '4' }
.scale.mk5 { margin-top: -260px }
.scale.mk5:before, .scale.mk5:after { content: '5' }
.scale.mk-1 { margin-top: 40px }
.scale.mk-1:before, .scale.mk-1:after { content: '1' }
.scale.mk-2 { margin-top: 90px }
.scale.mk-2:before, .scale.mk-2:after { content: '2' }
.scale.mk-3 { margin-top: 140px }
.scale.mk-3:before, .scale.mk-3:after { content: '3' }
.scale.mk-4 { margin-top: 190px }
.scale.mk-4:before, .scale.mk-4:after { content: '4' }
.scale.mk-5 { margin-top: 240px }
.scale.mk-5:before, .scale.mk-5:after { content: '5' }

.focus-url { margin: 1px 8px; height: 18px; background-color: #000; overflow: hidden; letter-spacing: 1px;
    color: #FFF; font: 14px/18px 'Droid Sans', sans-serif;  }
